@import "tailwindcss";

@theme inline {
  --color-background: #f0f4f8;
  --color-foreground: #171717;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
}
